
.user-button {
    margin-left: 10px;
    border: none;
    background-color: transparent;
  }
  
  .user-button img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: border 0.2s linear;
  }
  
  .user-button img:hover {
    border: 3px solid #ffffff;
    border-radius: 50%;
  }