@font-face {
  font-family: 'Montserrat-Bold';
  src: url(./assets/fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(./assets/fonts/Montserrat-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(./assets/fonts/Montserrat-Regular.woff2);
  font-weight: 400;
}

:root {
  font-family: Montserrat-Regular, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 82px 1fr;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f3f4f7;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 280px;
  background-color: #212631;
  border-right: 1px solid #2e3644;
  z-index: 1;
}

.sidebar-logo-link {
  display: block;
  padding: 20px 30px;
  border-bottom: 1px solid #2e3644;
}

.sidebar-logo-image {
  display: block;
  margin: 0 0 auto 0;
}

.nav-link {
  display: block;
  padding: 8px 30px;
  font-family: 'Montserrat-SemiBold';
  font-size: 18px;
  color: #e4e5e7e1;
  transition: all 0.3s linear;
}

.nav-link:hover {
  color: #ffffff;
  border-radius: 5px;
  background-color: #2a303d;
}

.nav-link svg {
  margin-right: 10px;
}

.nav-list {
  padding: 20px 10px 10px;
}

.user-button {
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.user-button img {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.2s linear;
}

.user-button img:hover {
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #212631;
  border-bottom: 1px solid #2e3644;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  padding: 12px 30px;
  align-items: center;
}

.header-nav-list {
  display: flex;
}

.header-nav-list li {
  margin-left: 10px;
}

.header-nav-link {
  font-size: 20px;
  color: #a6a8ad;
  transition: color 0.4s linear;
}

.header-nav-link:hover {
  color: #ffffff;
}

.header-nav-link--active {
  color: #6058b3;
}

.main {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 60px;
}

.layout {
  height: 100%;
  padding: 30px;
  width: 100%;
  border-radius: 30px;
  background-color: #ffffff;
  border: 1px solid #e1e4ea;
}

.agents-wrapper {
  display: flex;
  height: 100%;
  color: #a6a8ad;
}

.agents-wrapper h1,
.agents-wrapper p {
  text-align: center;
}

.agent-wrapper-inner {
  margin: auto;
}

.agents-wrapper-header {
  font-family: 'Montserrat-Bold';
  font-size: 50px;
  margin: 0 0 30px;
}

.agents-wrapper-text {
  max-width: 880px;
  margin: 0 0 30px;
}

.agents-wrapper-link {
  display: block;
  font-family: 'Montserrat-SemiBold';
  padding: 15px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #6261cc;
  max-width: 200px;
  margin: 0 auto;
  transition: background-color 0.3s linear;
  text-align: center;
}

.menu-button {
  padding: 5px;
  display: none;
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./assets/images/menu.svg');
  background-size: 100%;
}

.agents-wrapper-link:hover {
  background-color: #5352ad;
}

@media (max-width: 768px) {
  #root {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: transform 1s linear;
    transform: translateX(-280px);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .menu-button {
    display: block;
  }
}

.bot {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.bot-wrapper {
  max-width: 280px;
  overflow: hidden;
  border: 1px solid #6b6ac4;
  border-radius: 30px;
}

.bot-image {
  display: block;
  margin-left: auto;
}

.bot-header {
  font-size: 24px;
  margin: 0 0 10px;
  line-height: 100%;
  color: #303640;
  font-family: 'Montserrat-SemiBold';
}

.bot-description {
  font-size: 18px;
  margin: 0 0 20px;
  line-height: 100%;
  color: #303640;
}

.bot-wrapper-inner {
  padding: 20px;
}

.bot-wrapper-image {
  border-bottom: 1px solid #6b6ac4;
  padding: 20px;
  background-color: #5856d6;
}

.bot-link {
  display: block;
  font-family: 'Montserrat-SemiBold';
  padding: 15px;
  font-size: 18px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #6261cc;
  max-width: 200px;
  transition: background-color 0.3s linear;
  text-align: center;

  &:hover {
    background-color: #4645ab;
  }
}

