@font-face {
  font-family: 'Montserrat-Bold';
  src: url(./assets/fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(./assets/fonts/Montserrat-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(./assets/fonts/Montserrat-Regular.woff2);
  font-weight: 400;
}

:root {
  font-family: Montserrat-Regular, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f3f4f7;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 280px;
  background-color: #212631;
}

.sidebar-logo-link {
  display: block;
  padding: 20px 30px;
  border-bottom: 2px solid #2e3644;
}

.sidebar-logo-image {
  display: block;
  margin: 0 0 auto 0;
}

.nav-link {
  display: block;     
  padding: 8px 30px;
  font-family: 'Montserrat-SemiBold';
  font-size: 18px;
  color: #e4e5e7;
}

.nav-link:hover {
  border-radius: 5px;
  background-color: #2a303d;
}

.nav-list {
  padding: 10px;
}
