@font-face {
  font-family: 'Montserrat-Bold';
  src: url(./assets/fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(./assets/fonts/Montserrat-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(./assets/fonts/Montserrat-Regular.woff2);
  font-weight: 400;
}

:root {
  font-family: Montserrat-Regular, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.main-layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 82px 1fr;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f3f4f7;
}

.main {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 60px;

  @media (max-width: 768px) {
    padding: 30px 15px;
  }
}

.layout {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  padding: 30px;
  width: 100%;
  border-radius: 30px;
  background-color: #ffffff;
  border: 1px solid #e1e4ea;

  @media (max-width: 768px) {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .main-layout {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .main {
    grid-column: 1/3;
  }
}